# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android
/android/.gradle/
/android/build/
/android/local.properties
/android/key.properties
*.jks
*.keystore
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/.last_build_id

# Firebase 🔥
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.firebase/
firebase-debug.log
firebase-debug.*.log

# Functions
functions/.env
functions/node_modules/
functions/lib/

# Custom Scripts
get_shopify_token.dart
*.env
.env

# Optional
*.lock